<template>
	<a type="button" class="btn btn-default btn-sm">
		<slot></slot>
	</a>
</template>
<style>

</style>
<script>
	export default {
		props:[],

		data(){
			return {

			};
		},
		
		computed:{

		},

		methods:{

		},
	};
</script>
