<template>
	<div>
		<span class="display-name" :class="classes" @mouseenter="show=true">{{ name }}</span>
		<user-popover :toggle.sync="show" :user="name" v-if="modal"></user-popover>
	</div>
</template>
<style>
.display-name {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color:#ffffff;
}

.display-name__owner {
  color:#ff50ff;
}
</style>
<script>
	import Store from '../store';
	export default {
		props:{
			name:String,
			rank:String,
			modal:Boolean,
		},

		data(){
			return {
				show:false,
			};
		},
		
		computed:{
			classes(){
				if(this.rank){
					return 'display-name__'+this.rank;
				}
				return '';
			}
		},

		methods:{

		},

		mixins:[
			Store,
		],

		components:{
			UserPopover:require('./UserPopover.vue')
		},
	};
</script>
