<template>
	<article class="post clearfix" v-show="visible">
		<author
			:name="author.name"
			:rank="author.rank"
			:avatar="author.avatar"
			:postcount="author.postcount"
		>			
		</author>

		<div class="post-content">
			<div class="post-heading post-header">
				<timestamp :timestamp="time" tooltip></timestamp>
			</div>
			<div class="post-content-text">
				<slot name="content"></slot>
			</div>

			<div class="post-footer">				
				<button @click.prevent="quote">Quote</button>
				<button @click.prevent="deletePost" v-show="showDeleteButton">Delete</button>
				<slot name="footer"></slot>
			</div>
		</div>
	</article>
	<alert
		:show.sync="alert.show"
		:duration="3000"
		:type="alert.type"
		width="400px"
		placement="top-right"
		dismissable
		style="margin-top:50px;"
	>
		<span class="icon-info-circled alert-icon-float-left"></span>
		<strong>{{alert.title}}</strong>
		<p>{{ alert.content }}</p>
	</alert>
</template>
<script>
	import Store from '../store';

	export default {
		props:{
			author:{
				type:Object,
			},
			id:Number,
			time:Number,
			content:String,
		},

		data(){
			return {
				visible:true,
				alert:{
					show:false,
					type:'',
					title:'',
					content:'',
				},
			};
		},
		
		computed:{
			format(){
				return {
					id:this.id,
					author:this.author.name,
					created_at:this.time,
					content:this.content,
				}
			},
			showDeleteButton(){
				if(this.author.name == this.store.currentUser.name)
					return true;
				return false;
			},
		},

		methods:{
			quote(){
				this.$dispatch('quotedPost', this.format);
			},
			deletePost(){				
				this.store.resources.post.delete({id:this.id}).then((response) => {
					this.visible = false;
					this.alert = {
						show:true,
						type:'success',
						title:'Success :)',
						content:'Successfully deleted post #'+this.id,
					};
				}, (response) =>{
					this.alert = {
						show:true,
						type:'danger',
						title:'Failed :(',
						content:'Failed to delete post #'+this.id,
					};
				});
			},
		},

		components:{
			Author:require('./PostAuthor.vue'),
			Quote:require('./Quote.vue'),
			Timestamp:require('./Timestamp.vue'),
			Button:require('./Button.vue'),
			Alert:VueStrap.alert,
		},

		ready(){
			if(this.id)
				this.store.posts[this.id] = this.format;
		},

		mixins:[
			Store,
		],
	};
</script>
<style>

</style>
