<template>
	<aside class="post-author">
		<display-name :name="name" :rank="rank" class="post-header"></display-name>

		<ul style="" class="post-details-list">
			<li>
				<img :src="avatar" class="post-avatar-img img-responsive">
			</li>
			<li>
				{{ rank }}
			</li>
			<li v-show="postcount">
				{{ postcount }} post{{ postcount == 1 ? '' : 's' }}
			</li>
			<li>
				
			</li>
			
		</ul>
	</aside>
</template>
<style>

</style>
<script>
	export default {
		props:{
			avatar:String,
			rank:String,
			name:String,
			postcount:Number,
		},

		data(){
			return {

			};
		},
		
		computed:{
			classes(){
				var res = '';
				if(this.rank)
					res+= 'display-name-' + this.rank;
				return res;
			}
		},

		methods:{

		},

		components:{
			DisplayName: require('./DisplayName.vue')
		},
	};
</script>
