<template>
	<blockquote class="quote">
		<div class="quote-heading">
			<div class="quote-heading-author" v-show="author">
				Posted by <b>{{ author }}</b> <timestamp :timestamp="quotedPost.created_at" tooltip></timestamp>
			</div>
			<div v-show="!author">
				Quoted Post 
			</div>
			<div class="quote-heading-link">
				
			</div>
		</div>
		<div class="quote-content">
			<slot></slot>
		</div>
	</blockquote>
</template>
<style>
.quote {
	margin-top: 10px;
	padding: 0px 20px 10px 0px;
}

.quote-content {
	margin: 10px 20px;
}

.quote-heading {
	color: #181818;
	background-color: #eeeeee;
	padding: 10px 20px 10px 20px;
}
</style>
<script>
	import Store from '../store';
	export default {
		// name:'quote',
		props:['post'],

		data(){
			return {
			};
		},
		
		computed:{
			quotedPost(){
				return this.getPost(this.post);
			},
			author(){
				return this.getPost(this.post)['author'];

				var v = this.store.posts[this.post];

				return v ? v.author : '';
			},
		},

		methods:{

		},


		mixins:[
			Store,
		],

		components:{
			DisplayName:require('./DisplayName.vue'),
			Timestamp:require('./Timestamp.vue'),
		},
	};
</script>
