<template>
	<span class="fixed-width-text" :style="'font-size:' + size;">
		<slot></slot>
	</span>
</template>

<script>
	export default {
		props:{
			width: Number,
			maxSize: Number,
		},
		data(){
			return {
				actualSize:this.maxSize,
				interval:-1,
			}
		},
		computed:{
			size(){
				return '' + this.actualSize + 'em';
			},
		},
		methods: {
			setSize(){
				if(this.$el){
					var s0 = this.$el.offsetWidth;
					var s1 = this.$el.parentElement ? this.$el.parentElement.offsetWidth : this.width;

					if(s0 > s1)
						this.actualSize *= s1 / s0;
				}
			}
		},
		ready(){
			var self = this;
			this.interval = setInterval(function () {
				self.setSize();
			}, 500)
		},
		destroyed(){
			clearInterval(this.interval);
		},
	}
</script>