<template>
	<tooltip
		effect="fadein"
		placement="top"
		trigger="hover"
		:content="tooltipContent"
		v-if="tooltip"
	>
		<span>{{ output }}</span>
	</tooltip>
	<span v-else>{{ output }}</span>
	
</template>

<script>
	var moment = require('moment');
	export default {
		props:{
			timestamp:{
				type:Number,
				required:true,
			},
			display:{
				default:'diffForHuman',
			},
			tooltip:Boolean,
		},

		data(){
			return {
				counter:0,
				mouseOver:false,
				tooltipFormat:'LLL',
				now:Date.now(),
				interval:-1,
			};
		},
		
		computed:{
			moment(){
				return moment(this.timestamp * 1000);
			},
			tooltipContent(){
				return this.moment.format(this.tooltipFormat);
			},
			output(){
				if(! this.timestamp)
					return '';
				var res = this[this.display];
				return res ? res : '';
			},
			diffForHuman(){
				return this.moment.from(moment.utc(this.now));
			},
		},

		components:{
			Tooltip:VueStrap.tooltip,
		},

		ready(){
			var self = this;
			this.interval = setInterval(function () {
				self.$data.now = Date.now()
			}, 1000)
		},

		destroyed(){
			clearInterval(this.interval);
		},

	};
</script>
