<template>
	<!-- <popover
		effect="fade"

	>
		<slot></slot>
	</popover> -->

	<modal class="user-popup-modal" :show.sync="toggle" @mouseenter="mouseIn()" @mouseout="mouseOut()">
		<div slot="modal-body">
			{{ user }}
		</div>

	</modal>
</template>
<style>

</style>
<script>
	export default {
		props:{
			toggle:{
				type:Boolean,
				twoWay:true,
			},
			user:String,
		},

		data(){
			return {
				hasEntered:false,
				timer:5,
				mouse:false,
			}
		},
		
		computed:{

		},

		methods:{
			mouseIn(e){
				this.mouse = true;
				this.timer = 5;
				
			},
			mouseOut(e){
				this.mouse = false;
			},
		},

		components:{
			Popover:VueStrap.popover,
			Modal:VueStrap.modal,
		},

		ready(){
			setInterval(function(){
				if(! this.mouse)
					this.timer--;
				if(this.timer < 0)
					this.toggle = false;
			}, 1000);
		},
	};
</script>
