.post {
  display: -webkit-box;
  display: flex;
  color: #ababab; }

.post-content {
  border: 2px solid green;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.post-author {
  border: 2px solid red;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }

.post-heading {
  padding: 0 10px;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.post-header {
  color: white;
  height: 50px;
  background-color: #373737;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

.post-author > .post-header {
  margin: auto;
  -webkit-box-pack: center;
  justify-content: center; }

.post-content-text {
  margin-bottom: auto;
  padding: 10px; }

.post-footer {
  background-color: #101010;
  height: 50px;
  display: -webkit-box;
  display: flex;
  align-content: center; }

.display-name {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff; }

.post-avatar-img {
  padding: 10px; }

.author-details {
  margin-bottom: auto; }

.post-action-button {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px; }

/*# sourceMappingURL=nojs.css.map */
