.post {
      display: -webkit-flex;
      display:flex;
      color:#ababab;
      width: 100%;
      justify-content: space-between;
}

.post-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;   
      width: inherit;   
}

.post-author {     
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      min-width: 200px;
      max-width: 200px;
      border-right: 2px solid #373737;
}

.post-heading {
      padding: 0 10px;
      justify-content: space-between;
}

.post-header {
      color:rgb(255,255,255); 
      height: 50px;
      background-color: #373737;
      width: 100%;
      display:flex;
      align-items: center;
}

.post-author > .post-header {
      margin: auto;
      justify-content: center;
}

.post-content-text {
      margin-bottom: auto;
      padding: 10px;
}

.post-footer {
      background-color: #101010;
      height: 50px;
      display: flex;
      align-content: center;
}

.display-name {
      font-size: 2em;
      font-weight: bold;
      color:#ffffff;      
}

.post-avatar-img {
       padding:10px;
       width: 150px;
       height: 150px;
}

.author-details {
       margin-bottom: auto;
       padding-bottom: 20px;
}

.post-action-button {
       margin-top: auto;
       margin-bottom: auto;
       padding-left: 10px;
      
}