.topic-list__reply-count {
	background-color: #373737;
	color: #ffffff;
}

.topic-list__link {
    list-style-type:none;
    background-color: #373737;
    color: #8a8a8a;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    padding:10px;
    margin: 5px;
}

.topic-list__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
}

.topic-list__last-poster {
    display: flex;
    padding: 10px;
}


.topic-list__last-poster__info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    min-width: 150px;
    max-width: 150px;
}

.read {
  background: #505050; 
}

.unread { 
  background: #ffffff; 
}

.read-circle { 
    width: 20px; 
    height: 20px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 50px; 
    margin: 20px;
    flex: none;
}

.topic-list__stats {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 75px;
}
