@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-social/bootstrap-social.scss";



.fa-btn {
    margin-right: 6px;
}

body {
    font-family: 'Lato';
    background-color: #000000;
}

.post-list-well {
	background-color: rgb(24,24,24);
	padding: 10px;
}

.thread-title-well {
	background-color: rgb(24,24,24);
	padding: 10px;
	vertical-align: center;
	color: #ababab;
}

.thread-title {
	vertical-align: center;
}

.block {
	display:block;
}

#logout {
	width: 100%;

	button {
		width: 100%;
		color: #333333;

		:focus {
			color: #262626;
			background-color: #f5f5f5;
			text-decoration: none;
		}
	}
}

@import 'post';
@import 'topic-list';




