.post {
      display: -webkit-flex;
      display:flex;
      color:#ababab;
}

.post-content {
      border: 2px solid green;
      display: flex;
      flex-direction: column;
      justify-content: space-between;      
}

.post-author {
      border: 2px solid red;      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
}

.post-heading {
      padding: 0 10px;
      justify-content: space-between;
}

.post-header {
      color:rgb(255,255,255); 
      height: 50px;
      background-color: #373737;
      width: 100%;
      display:flex;
      align-items: center;
}

.post-author > .post-header {
      margin: auto;
      justify-content: center;
}

.post-content-text {
      margin-bottom: auto;
      padding: 10px;
}

.post-footer {
      background-color: #101010;
      height: 50px;
      display: flex;
      align-content: center;
}

.display-name {
      font-size: 2em;
      font-weight: bold;
      color:#ffffff;
      
}

.post-avatar-img {
       padding:10px
}

.author-details {
       margin-bottom: auto;
}

.post-action-button {
       margin-top: auto;
       margin-bottom: auto;
       padding-left: 10px;
      
}